{% extends 'base.html' %}
{% block content %}
{% if current_user.is_authenticated %}
<form method="post">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
    <input type="text" name="title" placeholder="Enter the title ...">
    <input type="text" name="text" placeholder="Enter your text...">
    <input type="submit" value="Start forum">
    <input type="button" value="Cancel"
           onclick="window.location.href='{{url_for('Main')}}'">
</form>
{% endif %}
{% endblock %}