{% extends 'base.html' %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="m-5 font-weight-bold text-danger">{{ messages[0]}}</div>
{% endif %}
{% endwith %}
<form method="post" class="m-5">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <p><input style="width:30%" type="text" name="login" placeholder="Enter your login..."></p>
    <p><input style="width:30%" type="text" name="password" placeholder="Enter your password..."></p>
    <p><input type="submit" value="Log in"></p>
</form>
{% endblock %}