{% extends 'base.html' %}
{% block content %}
{% if forums|length < 1 %}
<h3>
<p class="m-3 mt-5 font-weight-bold">There are no records yet </p>
</h3>
{% else %}
{% for forum in forums %}
<ul class="list-group m-3 mt-5">
    <li class="list-group-item bg-warning">
        <p><span class="font-weight-bold">{{forum.title|safe}}</span>
            <span class="font-italic"> (created by {{forum.user}})</span>
        {% if current_user == forum.user %}
        <a href="update/{{forum.id}}">Update</a> |
           <a href="delete/{{forum.id}}">   Delete</a></p>
        {% endif %}
        <p>{{forum.text|safe}}</p>
    </li>
</ul>
{% endfor %}
{% endif %}
{% if current_user.is_authenticated %}
<a class="btn-warning p-2 m-3" role="button" href="{{url_for('create')}}">Start new forum</a>
<a class="btn-warning p-2 m-3" role="button" href="{{url_for('auth.Logout') }}">Logout</a>
{% else %}
<a class="btn-warning p-2 m-3" href="{{ url_for('auth.Login') }}">Log in </a>
<a class="btn-warning p-2 m-3" href="{{url_for('auth.Signup')}}">Sign Up</a>
{% endif %}
{% endblock %}